body {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);

    color: darkblue;

}

.jumbotron-fluid {
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: darkblue;
    color: gray;

}

#train-image {
    width: 1111px;
}



